body {
    background-image: url();
    background-color: mistyrose;
    margin: 0;
    font-family: "Sriracha", sans-serif;
}

h1 {
    height: 10vh;
}

header {
    height: 5vh;
}


.by3-btn, .by4-btn, .reset-game-btn, .bot-simple-btn, .bot-smart-btn, .two-player-btn {
    border: 2px white solid;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    background-image: linear-gradient(to right, rgba(255,255,255,.5), rgba(255,255,255,.5));
    cursor: pointer;
    color: #6f93c3;
}

.disabled {
    pointer-events: none;
}

.game-mode, .whose-turn, .playerAscore, .playerBscore, .winner {
    font-weight: initial;
}

.game-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 10%;
}

.left-panel, .center-panel, .right-panel {
    margin: auto;
}

.metadata-wrapper {
    display: grid;
    width: 75vw;
    grid-template-columns: repeat(4, 1fr);
    height: 7vh;
    margin: 0 auto;
    color: lightsteelblue;
    font-weight: bold;
    font-size: 1.2rem;
}

.mute-btn {
    cursor: pointer;
}

.mute-btn-wrapper {
    display: flex;
    justify-content: flex-end;
}
.page-wrapper {
    padding: 2%;
    height: 100vh;
}

.reset-game-btn {
    margin: 4vh auto;
}

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

.squares-wrapper-by3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.squares-wrapper-by4 {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.square-by3, .square-by4 {
    border: 1px white solid;
    display: grid;
    font-size: 3rem;
    color: white;
    align-items: center;
    justify-items: center;
    cursor: crosshair;
}
.square-by3 {
    width: 15vh;
    height: 15vh;
}
.square-by4 {
    width: 11.25vh;
    height: 11.25vh;
}

.title {
    text-align: center;
    text-decoration: underline;
    margin: 1% 0;
    color: #6f93c3;
    font-family: "Sriracha", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    height: 15vh;
}